:root {
  --primary-color: #1A265C;
  --secondary-color: #F7CA18;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.white-text {
  color: var(--white);
}

